<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stitchcodes.core.mapper.SysDictTypeMapper">

    <resultMap id="DictTypeResult" type="com.stitchcodes.core.domain.SysDictType">
        <id property="dictId" column="dict_id" jdbcType="BIGINT"/>
        <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
        <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
        <result property="isSystem" column="is_system" jdbcType="CHAR"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectDictTypeVo">
        select *
        from sys_dict_type
    </sql>
    <insert id="insertSysDictType">
        insert into sys_dict_type
        (
        <if test="dictName != null and dictName != ''">dict_name,</if>
        <if test="dictType != null and dictType != ''">dict_type,</if>
        <if test="remark != null">remark,</if>
        <if test="isSystem != null and isSystem != ''">is_system,</if>
        <if test="createUser != null and createUser != ''">create_user,</if>
        create_time
        )values
        (
        <if test="dictName != null and dictName != ''">#{dictName},</if>
        <if test="dictType != null and dictType != ''">#{dictType},</if>
        <if test="remark != null">#{remark},</if>
        <if test="isSystem != null and isSystem != ''">#{isSystem},</if>
        <if test="createUser != null and createUser != ''">#{createUser},</if>
        sysdate()
        )
    </insert>
    <update id="updateSysDictType">
        update sys_dict_type set
        <if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
        <if test="dictType != null and dictType != ''">dict_type = #{dictType},</if>
        <if test="isSystem != null and isSystem != ''">is_System = #{isSystem},</if>
        <if test="remark != null">remark = #{remark},</if>
        <if test="updateUser != null and updateUser != ''">update_user = #{updateUser},</if>
        update_time = sysdate()
        where dict_id = #{dictId}
    </update>
    <select id="selectDictTypeList" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        <where>
            <if test="dictName != null and dictName != ''">
                and dict_name like concat('%',#{dictName},'%')
            </if>
            <if test="dictType != null and dictType != ''">
                and dict_type = #{dictType}
            </if>
            <if test="isSystem != null and isSystem != ''">
                and isSystem = #{isSystem}
            </if>
            and is_delete = '0'
        </where>
    </select>
    <select id="selectSysDictTypeById" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        where dict_id = #{dictId} and is_delete = '0'
    </select>
    <select id="selectSysDictTypeByCode" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        where dict_type = #{dictType} and is_delete = '0' limit 1
    </select>
    <update id="deleteSysDictType">
        update sys_dict_type
        set is_delete = '1'
        where dict_id = #{dictId}
    </update>
</mapper>
