<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stitchcodes.core.mapper.SysDictDataMapper">

    <resultMap id="DictDataResult" type="com.stitchcodes.core.domain.SysDictData">
        <id property="dictCode" column="dict_code" jdbcType="BIGINT"/>
        <result property="dictSort" column="dict_sort" jdbcType="INTEGER"/>
        <result property="dictLabel" column="dict_label" jdbcType="VARCHAR"/>
        <result property="dictValue" column="dict_value" jdbcType="VARCHAR"/>
        <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
        <result property="cssClass" column="css_class" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectDictDataVo">
        select *
        from sys_dict_data
    </sql>
    <select id="selectSysDictDataByType" resultMap="DictDataResult">
        <include refid="selectDictDataVo"/>
        where dict_type = #{dictType} and is_delete = '0'
    </select>
</mapper>
