<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stitchcodes.core.mapper.SysOperateLogMapper">

    <resultMap id="BaseResultMap" type="com.stitchcodes.core.domain.SysOperateLog">
            <id property="logId" column="log_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="businessType" column="business_type" jdbcType="CHAR"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="operateType" column="operate_type" jdbcType="CHAR"/>
            <result property="operateUser" column="operate_user" jdbcType="VARCHAR"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="operateUrl" column="operate_url" jdbcType="VARCHAR"/>
            <result property="operateIp" column="operate_ip" jdbcType="VARCHAR"/>
            <result property="operateLocation" column="operate_location" jdbcType="VARCHAR"/>
            <result property="operateParam" column="operate_param" jdbcType="VARCHAR"/>
            <result property="jsonResult" column="json_result" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
            <result property="operateTime" column="operate_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id,title,business_type,
        method,request_method,operate_type,
        operate_user,dept_name,operate_url,
        operate_ip,operate_location,operate_param,
        json_result,status,error_msg,
        operate_time
    </sql>
</mapper>
