<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stitchcodes.core.mapper.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.stitchcodes.core.domain.SysRoleMenu">
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
    </resultMap>
    <insert id="insertRoleMenu">
        insert into sys_role_menu (role_id, menu_id) values 
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.roleId},#{item.menuId})
        </foreach>
    </insert>
    <delete id="deleteAuthorizedMenu">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>
    <delete id="deleteAuthorizedMenus">
        delete from sys_role_menu where role_id in
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectAuthorizedMenu" resultType="Long">
        select distinct menu_id
        from sys_role_menu
        where role_id = #{roleId}
    </select>


</mapper>
