<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stitchcodes.core.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.stitchcodes.core.domain.SysUserRole">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
    </resultMap>
    <insert id="insertRoleUsers">
        insert into sys_user_role (user_id, role_id) values
        <foreach collection="userIds" index="index" item="item" separator=",">
            (#{item},#{roleId})
        </foreach>
    </insert>
    <insert id="insertUserRoles">
        insert into sys_user_role (user_id, role_id) values
        <foreach collection="roleIds" index="index" item="item" separator=",">
            (#{userId},#{item})
        </foreach>
    </insert>
    <delete id="removeRoleUsers">
        delete from sys_user_role where role_id = #{roleId} and user_id in
        <foreach collection="userIds" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="removeUserRoles">
        delete from sys_user_role where user_id = #{userId} and role_id in
        <foreach collection="roleIds" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="removeByUserIds">
        delete
        from sys_user_role
        where user_id in
        <foreach collection="userIds" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
    <select id="countUserAllocated" resultType="java.lang.Integer">
        select count(1)
        from sys_user_role
        where role_id = #{roleId}
    </select>

</mapper>
